@using VidHub.ViewModels
@model VidHub.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>@Model.Movie.Title</h2>
@*<h2>@(((Movie)ViewData["Movie"]).Title)</h2>*@
@*<h2>@ViewBag.Movie.Title</h2>*@
